<form id="frm_edit_client" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditClient")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="clientname" class="form-label">@L("Name")</label>
                    <div class="form-line">
                        <input id="clientname" type="text" name="ClientName" ng-model="vm.client.firstName" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="surname" class="form-label">@L("Surname")</label>
                    <div class="form-line">
                        <input id="surname" type="text" name="Surname" ng-model="vm.client.lastName" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="city" class="form-label">@L("City")</label>
                    <div class="form-line">
                        <input id="city" type="text" name="City" ng-model="vm.client.city" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="address" class="form-label">@L("Address")</label>
                    <div class="form-line">
                        <input id="address" type="text" name="Address" ng-model="vm.client.adress" required maxlength="102" minlength="2" class="validate form-control">
                        <label for="address" class="form-label">@L("AddressDescription")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="number" type="text" name="Number" ng-model="vm.client.number" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="number" class="form-label">@L("Number")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="email" class="form-label">@L("Email")</label>
                    <div class="form-line">
                        <input id="email" type="text" name="Email" ng-model="vm.client.email" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="phone" class="form-label">@L("Phone")</label>
                    <div class="form-line">
                        <input id="phone" type="text" name="Phone" ng-model="vm.client.phone" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="birth" class="form-label">@L("Birth")</label>
                    <div class="form-line">
                        <input id="birth" type="text" name="Birth" ng-model="vm.client.birth" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="height" class="form-label">@L("Height")</label>
                    <div class="form-line">
                        <input id="height" type="text" name="Height" ng-model="vm.client.height" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="weight" class="form-label">@L("Weight")</label>
                    <div class="form-line">
                        <input id="weight" type="text" name="Weight" ng-model="vm.client.weight" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="userCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>